@import '../../../assets/styles/colors';

.resume-edit {
  .field {
    margin-bottom: 14.3px;
    label {
      font-family: Helvetica,Arial,sans-serif;
      font-size: 1.1em;
      margin-bottom: 5px;
    }
  }
}