@import '../../../../assets/styles/colors';

.register-form {
  .description {
    font-size: 11px;
    padding: 0;
    margin: 0;
    padding-left: 155px;
    display: block;
    color: $color-aluminium-grey;
  }
}