@import '../../assets/styles/colors';

.guest-layout {
  height: 100vh;
  display: flex;
  flex-direction: column;

  &__header--nav,
  &__header--main,
  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 calc((100% - 1000px) / 2);
    height: 42px;
    background-color: $color-black-header;
    color: $color-white;
    font-size: 11px;
    line-height: 24px;

    .login {
      display: flex;
      span {
        margin-left: 10px;
      }
    }
  }

  &__header--main {
    background-color: $color-white;
    height: 85px;
    border-bottom: 1px solid $color-light-grey;
  }

  &__footer {
    margin-top: auto;
  }
}