$color-black-header: #2A292A;

$color-white: #FFF;

$color-lighter-grey: #DDD;
$color-light-grey: #DFDFDF;
$color-pale-grey: #F8F8F8;
$color-aluminium-grey: #AAA;

$color-yellow-buff: #FFF7A7;
$color-yellow-sandy: #EAE17E;

$color-blue-torquoise: #07A9C5;
$color-blue-torquoise-bright: #00b2ca;
$color-blue-teal: #0B95AA;