$font-roboto-regular: "Roboto-Regular";
$font-roboto-light: "Roboto-Light";

$font-myriadpro-regular: "MyriadPro-Regular";
$font-montserrat-bold: "Montserrat-Bold";
$font-montserrat-semibold: "Montserrat-SemiBold";
$font-montserrat-regular: "Montserrat-Regular";
$font-bebasneue-regular: "BebasNeue-Regular";
$font-bebasneue-bold: "BebasNeue-bold";

